<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
		<Component>
			<File Source="!(bindpath.x64)\PPM.exe" Id="MainExecutable"/>
			<Shortcut Name="!(bind.Property.ProductName)" Directory="ProgramMenuFolder" IconIndex="0" Advertise="yes"/>
		</Component>
		<Component>
			<File Source="!(bindpath.x64)\PPM_Service.exe" Id="PPM_Service" />
			<ServiceInstall Id="PPM_Service" Name="PPM_Service" DisplayName="!(loc.PpmServiceName)" Description="!(loc.PpmServiceDescription)" Start="auto" Type="ownProcess" ErrorControl="ignore" Account="LocalSystem" Vital="yes" Interactive="no">
				<util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="none" ResetPeriodInDays="1" RestartServiceDelayInSeconds="60"/>
			</ServiceInstall>
			<ServiceControl Id="PPM_Service_control" Name="PPM_Service" Start="install" Stop="both" Remove="uninstall" Wait="no"/>
		</Component>
		<Files Include="!(bindpath.x64)\*.dll">
			<Exclude Files="!(bindpath.x64)\Microsoft.Windows.Widgets.dll"></Exclude>
		</Files>
		<Files Include="!(bindpath.x64)\*.runtimeconfig.json"/>
		<Files Include="!(bindpath.x64)\*.pri"/>
		<Files Include="!(bindpath.x64)\**.png">
			<Exclude Files="!(bindpath.x64)\WindowsAppRuntime.png"/>
		</Files>
		<Files Include="!(bindpath.x64)\**.ico"/>
		<Files Include="!(bindpath.x64)\en-us\*.mui" Directory="EN_US"/>
		<File Name="appsettings.json" Source="!(bindpath.x64)\appsettings.json"/>
		<Component Id="Registry_HKLM" Guid="1F167EEE-4394-4FBB-87A1-3AEA39137E64">
			<RegistryKey Root="HKLM" Key="SOFTWARE\Processes Priority Manager\">
				<RegistryKey Key="Image Options">
					<!-- This is a dummy value, that is used to make sure that the key is removed on uninstallation.
					     The tool saves some options in this key that must be removed. These options are removed in RemoveProfiles custom action.-->
					<RegistryValue Name="Installed" Value="1" Type="integer" KeyPath="yes"/>
				</RegistryKey>
			</RegistryKey>
		</Component>
    </ComponentGroup>
  </Fragment>
</Wix>
