<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="Processes Priority Manager" Manufacturer="Processes Priority Manager Authors" Version="!(bind.packageVersion.MainInstaller)" 
		  UpgradeCode="a672eb32-98ef-4e21-890b-a5b56f85f724"
		  IconSourceFile="..\tune.ico" DisableModify="yes" AboutUrl="https://github.com/Taron-art/Processes-Priority-Manager">
    <BootstrapperApplication>
		<bal:WixStandardBootstrapperApplication Theme="rtfLicense" LicenseFile="License.rtf" LogoFile="tune.png" ShowVersion="yes"/>
		<Payload Id="theme_uk_ua" Compressed="yes" Name="1058\thm.wxl" SourceFile="1058\RtfTheme.wxl"></Payload>
    </BootstrapperApplication>
	<Variable Name="InstallFolder" Type="formatted" Value="[ProgramFiles6432Folder][WixBundleName]"/>
    <Chain>
		<MsiPackage SourceFile="PPM.Installer.msi" Compressed="true" Id="MainInstaller" Cache="remove">
			<MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>	
		</MsiPackage>
    </Chain>
  </Bundle>
</Wix>
